Package: com.yourcompany.helloworldtweak
Name: HelloWorldTweak
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: vousaimer
Author: vousaimer
Section: Tweaks
Version: 0.0.1-1+debug
Installed-Size: 120
