Package: com.yourcompany.helloworldtweak
Name: HelloWorldTweak
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: vousaimer
Author: vousaimer
Section: Tweaks
